

body{
    font-family: fangsong;
}
nav{
    padding-top: 2rem;
    background-color: rgb(0, 0,0,0);
    box-shadow: none;
}
.brand-logo{
    margin-left: 5rem;
}
.btn{
    border-radius: 25%;
    background-color: rgba(3, 53, 3, 0.808);
    margin-right: 5rem;
}

/* The first section */
.tophat{
    height: auto;
}
.title{
    font-weight: bolder;
}
.subtitle{
    color: gray;
}

.circle{
    width: 20rem;
    height: auto;
}

/* The first section ends */

/* The second section */
.second{
    height: 20rem;
    background-color: rgba(3, 53, 3, 0.808);
}
.about{
    line-height: 1.6;
    letter-spacing: 2px;
    word-spacing: 2px;
    padding-left:2rem;
    padding-right:2rem;
}
/* The second section ends */

/* The third section */
.first-action{
    color: white;
    background-color:  rgba(3, 53, 3, 0.808) !important;
}
.ctitle{
    color: rgba(3, 53, 3, 0.808) !important;
}
/* The third section ends */

/* The skills section */
.skills{
    background-color: rgba(3, 53, 3, 0.808) !important;
}
.skills-color{
    color:rgba(3, 53, 3, 0.808) !important;
    font-weight: bolder;
}
/* The skills section ends */

.social{
    padding: 5rem
}
.social-icons{
    border: solid   2px;
    border-radius: 50%;
    border-color: rgb(41, 184, 41) !important;
}
.social-icons:hover{
    background-color: rgba(3, 53, 3, 0.808) !important;
}
.copyright{
    margin-bottom: -4rem;
    color: rgba(3, 53, 3, 0.808) !important;
}